# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/


# Virtual environment
venv/
.env/

# IDE files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Build outputs
build/
dist/
*.egg-info/

# debug outpus
*.pkl
zero/v1/env/gym-aloha/


1_Data/*
2_Train/*
3_Eval/*

!1_Data/.gitkeep
!2_Train/.gitkeep
!3_Eval/.gitkeep
