# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/


# Virtual environment
venv/
.env/

# IDE files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Build outputs
build/
dist/
*.egg-info/

# debug outpus
*.pkl
zero/v1/env/gym-aloha/
zero/data
zero/exp

